  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

  *{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #ffff;
}
.container nav{
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
}
.container nav ul{
    position: absolute;
    right: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}
.container nav ul li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.container nav ul li a{
    color: black;
    text-decoration: none;
    position: relative;
}
.container nav ul li a::before{
    content: '';
    position: absolute;
    height: 3px;
    background: rgb(242, 223, 51);
    top: 25px;
}
.container nav ul li:hover a:before{
    width: 100%;
}
.container nav .logo{
    width: 90px;
    height: 100%;
    margin-left: 80px;
    display: flex;
    padding: 10px;
}
.sub-container{
    width: 100%;
    height: calc(100% - 90px);
}
.sub-container .janela.dois{
    position: relative;
    overflow: hidden;
}
.carousel-container {
    width: 100%;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    flex: 0 0 100%;
    width: 100%;
}
.carousel img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Largura máxima desejada */
    max-height: 500px;
    display: block; /* Para aplicar margin auto */
    margin: 0 auto;
    
}
.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.carousel-controls button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}
 
#produtos{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
#carrinho{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
}
.produto-single{
    width: 32%;
    margin-right: 1%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.produto-single img{
    max-width: 100%;
}
.produto-single p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.produto-single a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 200, 107);
    text-align: center;
    display: block;
    padding: 4px 0;
    font-size: 18px;
}
h2{
    background-color: rgb(228, 154, 42);
    padding: 10px 0;
    text-align: center;
    color: white;
}
.info-single-checkout{
    border-bottom: 2px dotted;
    padding: 10px 0;
}
.info-single-checkout p:first-child {
    font-weight: bold;
}
.info-single-checkout p:last-child {
    font-style: italic;
    color: #888;
}

footer{
    width: 100%;
    min-height: 250px;
    background: rgb(228, 154, 42);
    display: flex;
}
footer .boxs{
    width: 320px;
    min-height: 150px;
    padding: 20px;
}
footer .boxs:nth-child(4){
    width: 400px;
}
.boxs h2{
    color: #ffff;
    margin-bottom: 20px;
}
.boxs ul li{
    margin: 10px 0px;
    list-style: none;
}
.boxs ul li a{
    color: #ffff;
    text-decoration: none;
}
.boxs ul li a:hover{
    color: #ffff;
}
.boxs p{
    color: #ffff;
    text-align: justify;
}

.content {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(226, 164, 71);
    padding: 0px 20px;
} 
.content h2{
    background: rgb(226, 164, 71);
    color: #ccc;
}
.content .sociais{
    display: flex;
}
.sociais .social{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(226, 164, 71);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s linear;
}
.sociais .social ion-icon{
    font-size: 40px;
    align-items: center;
}
.sociais social a{
    color: 53737;
    font-size: 1.5em;
    transition: color .3s linear;
}
.sociais .social:hover{
    background: rgb(226, 164, 71);
}
.sociais .social:hover a{
    color: yellow;
}


@media(max-width: 950px)
{
    footer {
        flex-direction: column;
}

@media screen and (max-width: 768px) {
    .produto-single{
        width: 100%;
        margin-right: 0;
    }
}